<?xml version="1.0"?>
<robot name="simple_robot"
  xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
  xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
  xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
  xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Base Link -->
  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.2 0.2 0.1" />
      </geometry>
      <material name="Blue">
        <color rgba="0 0 1 1" />
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.2 0.2 0.1" />
      </geometry>
    </collision>
  </link>

  <!-- Wheel Link -->
  <link name="wheel_link">
    <visual>
      <geometry>
        <cylinder length="0.1" radius="0.2" />
      </geometry>
      <material name="Black">
        <color rgba="0.1 0.1 0.1 1" />
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.1" radius="0.18" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5" />
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.005" />
    </inertial>
  </link>

  <!-- Rotational Joint -->
  <joint name="wheel_joint" type="continuous">
    <parent link="base_link"/>
    <child link="wheel_link"/>
    <origin xyz="0 0.18 0" rpy="1.5708 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>

  <ros2_control name="CybergearMotorWheelJoint" type="actuator">
    <hardware>
      <plugin>cybergear_control/CybergearActuator</plugin>
      <param name="can_interface">can0</param>
      <param name="timeout_sec">3.0</param>
      <param name="interval_sec">0.5</param>
      <param name="device_id">127</param>
      <param name="primary_id">0</param>
      <param name="max_position">12.56637061</param>
      <param name="min_position">-12.56637061</param>
      <param name="max_velocity">30.0</param>
      <param name="min_velocity">-30.0</param>
      <param name="max_effort">12.0</param>
      <param name="min_effort">-12.0</param>
      <param name="max_gain_kp">500.0</param>
      <param name="min_gain_kp">0.0</param>
      <param name="max_gain_kd">5.0</param>
      <param name="min_gain_kd">0.0</param>
      <param name="max_current">23.0</param>
      <param name="min_current">-23.0</param>
      <param name="temperature_scale">0.1</param>
    </hardware>
    <joint name="wheel_joint">
      <command_interface name="velocity">
        <param name="min">-100</param>
        <param name="max">100</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="torque"/>
    </joint>
  </ros2_control>

</robot>
